#root {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  height: 100vh;
  margin: auto;
}

.centered-box {
  margin-top: 5vh;
  width: 90vw;
  height: 450px;
  background-color: #dedede;
  border-radius: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: transparent;
}

.logo img {
  height: 50px;
}

.github-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

.github-button:hover,
.github-button:active {
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

