#root {
  margin: 0 auto;
  padding-top: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  height: 100vh;
  margin: auto;
}

.centered-box {
  margin-top: 30px;
  width: 90vw;
  height: 450px;
  background-color: #dedede;
  border-radius: 40px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo img {
  height: 50px;
}

.logo-text {
  font-size: 30px;
  color: #4c3b9d;
  font-weight: 600;
}

.description-and-image {
  display: flex;
  justify-content: space-between;
}

.description {
  flex: 1;
  font-size: 14px;
  padding: 20px 0 20px 50px;
}

.description p {
  font-size: 18px;
  margin-bottom: 20px;
}

.image-box {
  flex-shrink: 0;
}

.image-box img {
  width: auto;
  height: 600px;
  object-fit: cover;
  padding: 50px 70px 0 0;
}

@media (max-width: 600px) {
  .centered-box {
    margin-top: 10px;
  }

  .description-and-image {
    flex-direction: column;
    text-align: center;
  }

  .description {
    font-size: 12px;
    padding: 0;
    margin-bottom: 20px;
  }

  .image-box img {
    height: 500px;
    padding: 0;
  }
}
