#root {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  height: 100vh;
  margin: auto;
}

.centered-box {
  margin-top: 5vh;
  width: 90vw;
  height: 450px;
  background-color: grey;
  border-radius: 30px;
}
